.github-fork-ribbon.right-top:before {
    background-color: #090;
}
.ui-widget {
    font-size: 100%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}
.ui-panelgrid .ui-panelgrid-cell {
    padding: 0 10px 0 0;
}
.ui-datatable {
    display: table;
}
.ui-datatable table {
    table-layout: auto !important;
}
.ui-datalist {
    display: table;
}
.ui-datalist table {
    table-layout: auto !important;
}
.ui-paginator .ui-paginator-first::before { content: "«" !important; }
.ui-paginator .ui-paginator-prev::before  { content: "‹" !important; }
.ui-paginator .ui-paginator-next::before  { content: "›" !important; }
.ui-paginator .ui-paginator-last::before  { content: "»" !important; }
.ui-paginator button::before {
    font-family: sans-serif !important;
    font-weight: bold;
}
.ui-divider.ui-divider-solid.ui-divider-horizontal::before {
    border-top: 1px solid #000000 !important;
}
.propToRemove {
    background-color: #ffa6a6 !important;
    background-image: none !important;
    color: #000000 !important;
}
.rightDate {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    font-style: italic;
}
.greenBackColor {
    background-color: rgba(215, 255, 215, 0.51) !important;
    background-image: none !important;
    color: #000000 !important;
}
.stNotActive {
    background-color: #fff0d7 !important;
    background-image: none !important;
    color: #000000 !important;
}
.name-cell {
    white-space: nowrap;
    vertical-align: middle;
}
.name-cell img,
.name-cell a {
    vertical-align: middle;
}
.name-cell a {
    margin-left: .5rem;
}
.button-line {
    white-space: nowrap;
    vertical-align: middle;
}
.rightAlignTotal {
    text-align: right;
    background-color: #edf1f4 !important;
    background-image: none !important;
    color: #000000 !important;
}
.rightAlign {
    text-align: right;
}
.visitorPanel {
    white-space:pre-wrap;
    font-size:smaller;
}
.visitorLink {
    text-decoration: none;
    white-space: nowrap;
    font-size:smaller;
}
.visitorName {
    display: block;
    margin: 0 auto;
    text-align: center;
}